@model List<string>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <h1>@ViewData["errorMessage"]</h1>
    <h2>Шаг три</h2>
    <h2>Введенное время: @ViewData["dateTime"]</h2>
    <h2>Введенный телефон: @ViewData["phone"]</h3>
    <h2>Введенная разновидность животного: @ViewData["kindOfAnimal"]</h3>

    <form method='post'>
        <label for="breed">Порода животного:</label>
        <select input type="text" name="breed">
            @foreach (var breed in Model)
            {
                <option value=@breed>@breed</option>
            }
        </select>
        <br /><label>Имя животного:</label>
        <input type="text" name='animalName' /><br />

        <input type='submit' value='Отправить запрос' />
    </form>

</body>
</html>