@{
    Layout = "~/Views/_Layout.cshtml";
}

<p>@ViewData["errorMessage"]</p>
<p>Шаг три</p>
<p>Введенное время: @ViewData["dateTime"]</p>
<p>Введенный телефон: @ViewData["phone"]</p>
<p>Введенная разновидность животного: @ViewData["kindOfAnimal"]</p>

<form method='post'>
    <label for="breed">Порода животного:</label>
    <select class="Input" input type="text" name="breed">
        @foreach (var breed in Model)
        {
            <option value=@breed>@breed</option>
        }
    </select>
    <br /><label>Имя животного:</label>
    <input class="Input" type="text" name='animalName' /><br />

    <button class="Button" type='submit'>Отправить запрос</button>
</form>
