@{
    Layout = "~/Views/_Layout.cshtml";
}

<p>Введенные данные</p>
<p>Дата: @ViewData["dateTime"]</p>
<p>Телефон: @ViewData["phone"]</p>
<p>Разновидность животного: @ViewData["kindOfAnimal"]</p>
<p>Порода животного: @ViewData["animalBreed"]</p>
<p>Имя животного: @ViewData["animalName"]</p>
<p>Цена: @ViewData["price"]</p>
<p>Сделать этот заказ</p>
<form method='post'>
    
    <button class="Button" type='submit' name="price" value=@ViewData["price"]>Подтвердить заказ</button>
</form>

